---
layout: default
title: null
---

<article class="post">
{% for post in site.posts limit:1 %}
<ul>
<li>
<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
<time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%d-%m-%Y" }}</time>
{{post.content}}
</li>
</ul>
{% endfor %}
<ul>
{% for post in site.posts offset:1 limit:4 %}
<li>
<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
<time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%d-%m-%Y" }}</time>
</li>
{% endfor %}
  </ul>
</article>
