
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

* {
box-sizing:border-box
}

body {
font:1.125em "Open Sans",sans-serif;
background:#fff;
color:#555;
line-height:1.75;
margin:0 auto;
}

h1,h2,h3,h4,h5,h6 {
font-weight:500;
line-height:1.25;
}

h4 {
font-size:1.125em;
}

h3 {
font-size:1.25em;
display:inline-block;
}

h2 {
font-size:1.5em
}

h1 {
font-size:1.75em
}

a {
color:#69c;
text-decoration:none;
overflow-wrap:break-word;
word-wrap:break-word
}

a:hover {
color:#4080bf;
text-decoration:underline
}

hr {
margin:3em 0;
height:2px;
background:#ddd;
border:none
}

blockquote {
padding:1em;
margin:1.75rem 0;
background:#f2f2f2;
color:#555
}

ul,ol {
padding-inline-start: unset;
}

li {
margin:.5em 0
}

img {
display:block;
max-width:100%;
margin:1.75rem 0
}

code {
background:#faebeb;
color:#dd3c3c;
padding:.2em .4em;
font-family:"Consolas","Monaco",monospace;
font-size:.8rem
}

pre {
padding:1em;
margin:1.75rem 0;
background:#222;
overflow:scroll;
font-family:"Consolas","Monaco",monospace;
line-height:1.6
}

pre code {
padding:0;
color:#ccc;
background:none
}

abbr[title] {
text-decoration:none;
border-bottom:1px dotted #555
}

q {
font-style:italic
}

q:before {
content:""
}

q:after {
content:""
}

table {
margin:1.75rem auto;
border-collapse:collapse;
width:100%
}

table th {
font-weight:600
}

table td,table th {
text-align:left;
padding:.5em 1em;
border:1px solid #ddd
}

table caption {
text-align:left;
font-size:.9rem;
padding-bottom:.5rem;
font-style:italic
}

dl {
margin:1.75rem 0
}

dt,dd {
margin:.5em 0
}

dt {
font-weight:600;
margin-bottom:0
}

dd {
padding-left:1em;
margin-top:0
}

button {
display:block;
margin:1.75rem auto;
padding:1em 2.5em;
border:2px solid #666;
border-radius:3px;
font-size:.8rem;
font-weight:600;
text-transform:uppercase;
letter-spacing:.2em;
background:#fff;
color:#666;
transition:background 0.1s,color .1s
}

button:hover {
background:#666;
color:#fff
}

section {
padding: 2.5rem 1.25rem;
}

.post ul, .archive ul {
list-style: none;
}

.post li, .archive li {
border-top: 0.15em solid #f5f6ee;
padding: 0.25em 0;
}

.post li:first-child, .archive li:first-child  {
border-top: 0 none;
}


.card {
width:calc(100% / 1);
height:auto;
display:block;
vertical-align:top
}

time {
opacity: .75;
font-size: 90%;
}

header, footer {
padding:4rem 1.25rem;
background:#f5f6ee;
display:flex;
justify-content:space-evenly;
align-items:baseline
}

@media all and (min-width: 48rem) {
section {
margin:0 auto;
max-width:45rem;
padding: 3rem 0;
}

.card {
width:calc(99% / 2);
height:auto;
display:inline-block;
vertical-align:top
}

.card:nth-child(3n+1) {
width:calc(99% / 1);
}  
   
}
