<!DOCTYPE HTML>
<html class="no-js" lang="">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
	<link rel="stylesheet" href="assets/css/normalize.css">
	<link rel="stylesheet" href="assets/css/main.css">
	<meta name="theme-color" content="#fafafa">
  </head>
  <body>
    <header>
      <h1><a href="/">{{ page.title }}</a></h1>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
